.col-lg-3 > a[data-text]::after {
  position: absolute;
  content: attr(data-text);
  top: 30%;
  left: 15%;
  opacity: 0;
  padding: 10px;
  box-sizing: border-box;
  width: 70%;
  height: 60%;
  user-select: none;
  pointer-events:none;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

.col-lg-3:hover>a::after {
  opacity: 1;
}
